<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>kindle_wails</title>
    <script src=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<div id="app">
    <div class="container">
        <div>
            <h2>Kindle Bookmarks</h2>
            <nav>
                <ul>
                    <li>
                        <input type="button" value="Go back" id="view_index" onclick="window.location='index.html'">
                    </li>
                </ul>
            </nav>
        </div>
        
        <!-- Insert html here -->
    </div>
</div>
</body>
</html>
